<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wise Work - Freelance Services Marketplace</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>
  
  <script src="../script/homepage_first_slider.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <script src="../script/firebase.js"></script>
  <script src="../script/script.js"></script>
  <script src="../script/index.js"></script>
  <link rel="stylesheet" href="../style/footer.css" />
  <link rel="stylesheet" href="../style/index.css" />
  <link rel="stylesheet" href="../style/homepage_first_slider.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </head>

 <body>
    <!-- Navbar from bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-link" href="index" style="font-size: 2rem;">Wise Work</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="navbar-link" href="explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" id="inbox-button" href="chat">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" href="quiz">Become a seller</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" id="mygigs-button" href="mygigs">My Gigs</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" id="signup-button" href="signup_card">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" id="signin-button" href="login">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" id="signout-button">Sign Out</a>
          </li>
        </li>
        <li class="nav-item">
          <a id="signedin-button" href="profile"><i style="font-size:24px; margin-left: 2600%;" class='fas'>&#xf2bd;</i></a>
        </li>
          
        </ul>
        
      </div>
    </nav>


    <!-- This div is responsible for all the transitions in the background. The id Image-box is used at the bottom in the script to make it functional -->
    <div id="Image-box">

    </div>

    <!-- This section is the text and search bar in the transitions -->
    <div id="Header">
      <h1>
        <span class="Header-text1"
          >Wise Work<br /><span id="Header-text2" 
            >As Worthy as you are.</span
          ></span
        >
      </h1>
      <div style="margin-bottom: 5vh;">
        <!-- The tag svg and everything in it is used to represnt an icon in this and in the future use in the code-->
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
        >
          <!-- This path is the vector that creates the icon of search -->
          <path
            d="M15.8906 14.6531L12.0969 10.8594C12.025 10.7875 11.9313 10.75 11.8313 10.75H11.4187C12.4031 9.60938 13 8.125 13 6.5C13 2.90937 10.0906 0 6.5 0C2.90937 0 0 2.90937 0 6.5C0 10.0906 2.90937 13 6.5 13C8.125 13 9.60938 12.4031 10.75 11.4187V11.8313C10.75 11.9313 10.7906 12.025 10.8594 12.0969L14.6531 15.8906C14.8 16.0375 15.0375 16.0375 15.1844 15.8906L15.8906 15.1844C16.0375 15.0375 16.0375 14.8 15.8906 14.6531ZM6.5 11.5C3.7375 11.5 1.5 9.2625 1.5 6.5C1.5 3.7375 3.7375 1.5 6.5 1.5C9.2625 1.5 11.5 3.7375 11.5 6.5C11.5 9.2625 9.2625 11.5 6.5 11.5Z"
          ></path>
        </svg>
        <input class="search-bar" type="text" placeholder="Search" />
        <button>Search</button>
      </div>
    </div>


    <!-- Popular professional services Section -->
    <section>
      <div class="container reveal">
        <h1 class="first-slider-heading">Popular professional services</h1>
    <!-- Cards imported from bootstrap, src tag is used for the address of the image. You can either add a url or local file address in it -->
    <div class="card-deck job-cards">
      <div class="card">
        <a href="explore/Logo Design" style="color: black; text-decoration: none;">
        <img class="card-img-top" src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741678/logo-design-2x.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Logo Design</h5>
        </div>
      </a>
      </div>
      <div class="card">
        <a href="explore/Web Developer" style="color: black; text-decoration: none;">
        <img class="card-img-top" src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/ae11e2d45410b0eded7fba0e46b09dbd-1598561917003/wordpress-2x.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Customize your website</h5>
        </div>
      </a>
      </div>
      <div class="card">
        <a href="explore/Graphic Designer" style="color: black; text-decoration: none;">
        <img class="card-img-top"  src="../graphic design img/4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Graphic Design</h5>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="explore/Programming" style="color: black; text-decoration: none;">

        <img class="card-img-top" src="../graphic design img/6.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Programming</h5>
        </div>
      </a>
      </div>
      <div class="card">
        <a href="explore/Digital Marketing" style="color: black; text-decoration: none;">

        <img class="card-img-top" src="https://fiverr-res.cloudinary.com/q_auto,f_auto,w_255,dpr_1.0/v1/attachments/generic_asset/asset/055f758c1f5b3a1ab38c047dce553860-1598561741667/social-2x.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Digital Marketing</h5>
          </div>
        </a>
      </div>
    </div>
      </div>
    </section>
    

    <section>
      <div class="container reveal">
       <!--This section is for the text under the cards "the descriptions(hook) for the site"-->
    <div id="home-page-image-container">
      <div class="home-page-side-text">
        <div class="home-page-side-text-heading">
          Access a vast pool of freelancers with diverse skills and expertise
          easily.
        </div>
        <div class="home-page-side-text-div">
          <!--In HTML, a <span> element is an inline container that is used to group and style text or other inline elements within a larger block of content.
            It is similar to div-->
          <span
            class="home-page-check-icon"
            aria-hidden="true"
            style="width: 24px; height: 24px; fill: rgb(122, 125, 133)"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"
              ></path>
              <path
                d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"
              ></path></svg>
            </span>
            Stick to your budget
        </div>
        <div class="home-page-side-text-div-child">
          Find the right service for every price point. No hourly rates, just project-based pricing.
        </div>
        <div class="home-page-side-text-div">
          <span
            class="home-page-check-icon"
            aria-hidden="true"
            style="width: 24px; height: 24px; fill: rgb(122, 125, 133)"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"
              ></path>
              <path
                d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"
              ></path></svg>
            </span>
            Get quality work done quickly
        </div>
        <div class="home-page-side-text-div-child">
          Hand your project over to a talented freelancer in minutes, get long-lasting results.
        </div>
        <div class="home-page-side-text-div">
          <span
            class="home-page-check-icon"
            aria-hidden="true"
            style="width: 24px; height: 24px; fill: rgb(122, 125, 133)"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 1.75C4.54822 1.75 1.75 4.54822 1.75 8C1.75 11.4518 4.54822 14.25 8 14.25C11.4518 14.25 14.25 11.4518 14.25 8C14.25 4.54822 11.4518 1.75 8 1.75ZM0.25 8C0.25 3.71979 3.71979 0.25 8 0.25C12.2802 0.25 15.75 3.71979 15.75 8C15.75 12.2802 12.2802 15.75 8 15.75C3.71979 15.75 0.25 12.2802 0.25 8Z"
              ></path>
              <path
                d="M11.5303 5.46967C11.8232 5.76256 11.8232 6.23744 11.5303 6.53033L7.53033 10.5303C7.23744 10.8232 6.76256 10.8232 6.46967 10.5303L4.46967 8.53033C4.17678 8.23744 4.17678 7.76256 4.46967 7.46967C4.76256 7.17678 5.23744 7.17678 5.53033 7.46967L7 8.93934L10.4697 5.46967C10.7626 5.17678 11.2374 5.17678 11.5303 5.46967Z"
              ></path></svg>
            </span>
            Pay when you're happy
        </div>
        <div class="home-page-side-text-div-child">
          Upfront quotes mean no surprises. Payments only get released when you approve.
        </div>
      </div>

      <div class="home-page-image-portion" >
        

       
            <img id="skillImage"
              src="../graphic design img/Success.webp"/>
        </div>
      </div>
    </div>
      </div>
    </section>
    
    

<!-- this is fourth section of the page for top freelancers -->
    
<div class="homepage-second-slider-text" style="margin-top: 8%">
  <p>Top gigs by our freelancers</p>
  <a href="explore" style="color: black;">See More Projects </a>
</div>
<div id="homepage-top-gigs" class="image-grid">
  
</div>

    <link rel="stylesheet" href="../style/index.css" />

    <!-- footer -->
    <div id="footer"></div>
  </body>
</html>

<!--This script calls footer js file and loads it in the last dic having id "footer". We do this so we don't have to write code again and again-->
<script type="module">
  import { footer } from "../script/footer.js";
  document.getElementById("footer").innerHTML = footer();
</script>


<!-- The following changes the background image and background color of an element with the ID "Image-box" at regular intervals using the setInterval() function.
The setInterval() function is a built-in JavaScript function that repeatedly executes a function at specified intervals (in milliseconds). 
In this case, it is used to call an anonymous function every 6 seconds (6000 milliseconds).
Inside the anonymous function, there is a logic to change the background image and background color of the element with the ID "Image-box" based on the 
value of the count variable. The count variable keeps track of the current state or position in the sequence of images and colors.
The container variable is used to reference the element with the ID "Image-box" using the getElementById() method, which retrieves the 
DOM element with the specified ID.
The code changes the background image by setting the backgroundImage style property of the container element to different URLs of images from 
Unsplash using the url() CSS function. It also changes the background color by setting the backgroundColor style property of the container element to 
different hexadecimal color codes.
The count variable is incremented after each change, and when it reaches 4, it is reset to 0 to start the sequence of images and colors again.
Note: In order for this code to work correctly, you need to have an HTML element with the ID "Image-box" in your HTML markup, and make sure the script is placed 
after that element in the HTML file. Also, make sure to include this JavaScript code within a <script> tag and place it within the <head> or <body> 
section of your HTML file, depending on your requirements. -->

<script>
  let container = document.getElementById("Image-box")
  let count = 0
  setInterval(function () {
      if (count == 0) {
          container.style.backgroundImage = "url('https://images.unsplash.com/photo-1613909207039-6b173b755cc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1547&q=80')"
          container.style.backgroundColor = "#013914"
      }
      else if (count == 1) {
          container.style.backgroundImage = "url('https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')"

          container.style.backgroundColor = "#b64761"
      }
      else if (count == 2) {
          container.style.backgroundImage = "url('https://images.unsplash.com/photo-1536838960759-6e236ca6e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')"
          container.style.backgroundColor = "#013914"
      }
      else if (count == 3) {
          container.style.backgroundImage = "url('https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')"
          container.style.backgroundColor = "#7c1a00"
      }
      else if (count == 4) {
          container.style.backgroundImage = "url('https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')"
          container.style.backgroundColor = "#550e1f"
      }

      count++
      if (count > 4) {
          count = 0
      }
  }, 6000)
</script>





